<app-header></app-header>
<!-- ======= Intro Section ======= -->
<div class="intro intro-carousel swiper position-relative">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(../../../assets/img/slide-1.jpg)"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">Đà Lạt <br /></p>
                  <h1 class="intro-title mb-4">Sonar <br /></h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"
                      ><span class="price-a"
                        >Nụ cười của bạn là ưu tiên của chúng tôi</span
                      ></a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(../../../assets/img/slide-2.jpg)"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    Doral, Florida <br />
                    78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">204 </span> Rino <br />
                    Venda Road Five
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="swiper-slide carousel-item-a intro-item bg-image"
      style="background-image: url(../../../assets/img/slide-3.jpg)"
    >
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    Doral, Florida <br />
                    78345
                  </p>
                  <h1 class="intro-title mb-4">
                    <span class="color-b">204 </span> Alira <br />
                    Roan Road One
                  </h1>
                  <p class="intro-subtitle intro-price">
                    <a href="#"><span class="price-a">rent | $ 12.000</span></a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<!-- End Intro Section -->

<section class="ftco-section mt-5">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Chào mừng đến Sonar homestay</span>
        <h2 class="mb-4">BẠN SẼ KHÔNG BAO GIỜ MUỐN RỜI ĐI</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md pr-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-reception-bell"></span>
            </div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Dịch vụ thân thiện</h3>
          </div>
        </div>
      </div>
      <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services active py-4 d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-serving-dish"></span>
            </div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Món ăn hấp dẫn</h3>
          </div>
        </div>
      </div>
      <div class="col-md px-md-1 d-flex align-sel Searchf-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-car"></span>
            </div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Sân đậu xe</h3>
          </div>
        </div>
      </div>
      <div class="col-md px-md-1 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services py-4 d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-spa"></span>
            </div>
          </div>
          <div class="media-body">
            <h3 class="heading mb-3">Sang trọng &amp; quý phái</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">
  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box" style="margin: 0 auto">
              <span class="subheading">Tiêu chí của chúng tôi</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-lock"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">An toàn</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Đội ngũ an ninh luôn túc trực 24/7, giúp cho bạn tự tin sảng
                khoải tận hưởng niềm vui bên bạn bè và gia đình của bạn.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Tiện lợi</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Luôn luôn phục vụ nhu cầu khách hàng vào bất cứ ngày nào trong
                tuần, trong tháng kể cả lễ và tết.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Tiết kiệm</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Nhằm mang đến những trải nghiệm quý báu và thú vị song song đó
                homestay chúng tôi cũng mong muốn mang cho khách hàng một mức
                giá cực kỳ tiết kiệm và phải chăng.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->
  <section class="ftco-section ftco-wrap-about ftco-no-pt ftco-no-pb mt-5 mb-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-7 order-md-last d-flex">
          <img
            src="https://dulichbavi.com/wp-content/uploads/2022/06/ST-Homestay-4-800x530.png"
            alt=""
            style="margin-right: 1%"
          />
          <img
            src="https://static.vinwonders.com/production/homestay-la-gi-1.jpg"
            alt=""
            style="margin-left: 1%"
          />
          <div
            class="img img-1 mr-md-2 ftco-animate"
            style="width: 100%; background-image: url()"
          ></div>
          <div
            class="img img-2 ml-md-2 ftco-animate"
            style="background-image: url()"
          ></div>
        </div>
        <div
          class="col-md-5 wrap-about pb-md-3 ftco-animate pr-md-5 pb-md-5 pt-md-4"
        >
          <div class="heading-section mb-4 my-5 my-md-0">
            <span class="subheading">SƠ LƯỢC VỀ HOME STAY SONAR</span>
            <h2 class="mb-4">
              Homestay Sonar được giới thiệu nhiều nhất tại Đà Lạt
            </h2>
          </div>
          <p>
            Nằm ở vị trí ngoại ô thành phố Đà Lạt, khu đô thị sầm uất bậc nhất ở
            nơi đây. Có thể ngắm ra núi rừng. Rất gần các khu ăn uống mua sắm,
            tiện lợi khi đi du lịch tại homestay của chúng tôi
          </p>
          <p>
            <a
              routerLink="/room-types"
              style="cursor: pointer"
              class="btn btn-secondary rounded"
              >Đặt phòng ngay</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Room Section End -->

  <!-- Blog Section Begin -->
  <section class="blog-section spad container">
    <div class="">
      <div class="row">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Blog và sự kiện của chúng tôi</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="blog-item set-bg">
            <img
              src="https://sukientinnhan.com/wp-content/uploads/2020/10/121310049_4830455520305535_7256779237891186191_o-1024x683.jpg"
              alt=""
              style="height: 300px"
            />
            <div class="bi-text pb-3">
              <span class="b-tag">Chuyến du lịch</span>
              <h4><a href="#"></a></h4>
              <div class="b-time">
                <i class="icon_clock_alt"></i> 15/04/2019
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="blog-item set-bg">
            <img
              src="https://1.bp.blogspot.com/-5Jizqjc6jnw/YFw60edJC0I/AAAAAAAArCY/-F9Du7cDmCgG4nombp_lI7A9-3sqKywrACLcBGAsYHQ/s2048/163521318_3901412796605291_4225642663490848173_o.jpg"
              alt=""
              style="height: 300px"
            />
            <div class="bi-text pb-3">
              <span class="b-tag">Tất niên</span>
              <h4><a href="#"></a></h4>
              <div class="b-time">
                <i class="icon_clock_alt"></i> 17/01/2017
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="blog-item small-size set-bg">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/46787557.jpg?k=65d3e0c17b1dfb0e5843d3a8113c50c5f45255bc62215484c77afe26a8059db4&o=&hp=1"
              alt=""
            />
            <div class="bi-text pb-3">
              <span class="b-tag">Sự kiện toàn quốc</span>
              <h4>
                <a href="#"
                  >Khai trương nhân dịp phát triển homestay</a
                >
              </h4>
              <div class="b-time">
                <i class="icon_clock_alt"></i> 17/01/2012
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->
</main>
<!-- End #main -->
<app-footer></app-footer>
